.editable-user-info-edit {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.editable-user-info-edit::before {
  content: 'Edit';

  border: 1px solid gray;
  padding: 3px 5px;
  background-color: gainsboro;
  border-radius: 3px;
  vertical-align: bottom;
}

.editable-user-info-edit:checked::before {
  background-color: green;
}

.editable-user-info input:not([type=checkbox]) {
  background: none;
  border: 1px solid gray;
}

.editable-user-info input:disabled {
  border: none;
  color: initial;
  border: 1px solid white;
}

.editable-user-info-remove {
  visibility: hidden;
  box-sizing: border-box;
}

.editable-user-info-edit:checked + .editable-user-info-remove {
  visibility: visible;
}