.editable-user-info-edit {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.editable-user-info-edit::before {
  content: url('./pencil.svg');
}

.editable-user-info-edit:checked::before {
  content: url('./check-bold.svg');
}

.editable-user-info input:not([type='checkbox']), .editable-user-info textarea {
  background: none;
  border: 1px solid darkgray;
  resize: none;
  overflow: auto;
  width: min-content;
}

.editable-user-info input:disabled, .editable-user-info textarea:disabled {
  border: none;
  color: slategray;
  border: 1px solid white;
}

.editable-user-info-remove {
  visibility: hidden;
  box-sizing: border-box;
  background: none;
  border: none;
  font-weight: 900;
}

.editable-user-info-edit:checked + .editable-user-info-remove {
  visibility: visible;
}