.user-education-edit {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.user-education-edit::before {
  content: 'Edit';

  border: 1px solid gray;
  padding: 3px 5px;
  background-color: gainsboro;
  border-radius: 3px;
  vertical-align: bottom;
}

.user-education-edit:checked::before {
  background-color: green;
}

.user-education-component input:disabled {
  border: none;
  color: initial;
  border: 2px solid white;
}